/* /c:/Users/Micha/Documents/projects/keystone/full-stack-cms/next/app/components/global/header/header.module.css */
@import "../../../styles/util/variables.module.scss";

.header {
    border-bottom: 1px solid $lines;

    .headerContainer {
        max-width: 1280px;
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        margin: auto;

        .headerTitle {
            font-size: 24px;
            padding: 1rem 0;
            // margin-right: auto;
        }

        .headerNav {
            align-self: flex-end;

            ul {
                display: flex;
                justify-content: center;
                flex-direction: row;

                &.topLevelNav {
                    li.topLevelNavItem {
                        position: relative;
                        padding-right: 10px;

                        &::after {
                            content: '>';
                            transform: rotate(90deg) scaleX(.75) scaleY(1.5);
                            margin: 0 10px;
                            position: absolute;
                            right: 5px;
                            bottom: 25%;
                        }
                        &.active {
                            &::after {
                                transform: rotate(135deg) scaleX(1.5) scaleY(.75);
                            }
                        }
                    }
                }
                &.secondaryLevelNav {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $light;
                    border: solid 1px $light;
                    border-radius: 0 0 5px 5px;
                    flex-direction: column;
                    padding: 0;
                    z-index: 1;

                    li {
                        display: block;
                        margin: 0;
                        padding: .5rem 1rem;
                        border-bottom: solid 1px $dark;
                        transition: all .3s ease;

                        &:hover {
                            background-color: $dark;
                            color: $light;
                        }
                    }
                }

                a {
                    display: block;
                    margin: 0 10px;
                    text-decoration: none;
                    padding: .5rem 1rem;
                    border: solid 1px $light;
                    border-radius: 5px 5px 0 0;
                    border-bottom: none;
                    transition: all .3s ease;

                    &:hover {
                        text-decoration: underline;
                        background-color: $light;
                        color: $dark
                    }
                }
            }
        }
    }
}