$primary: #0059a2;
$secondary: #007bff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$lines: #dee2e6;
$dark: #343a40;

$btn-primary-bg: $primary;
$btn-secondary-bg: $secondary;
$btn-success-bg: $success;
$btn-danger-bg: $danger;
$btn-warning-bg: $warning;
$btn-info-bg: $info;
$btn-light-bg: $light;
$btn-dark-bg: $dark;

$btn-primary-hover-bg: darken($primary, 10%);
$btn-secondary-hover-bg: darken($secondary, 10%);
$btn-success-hover-bg: darken($success, 10%);
$btn-danger-hover-bg: darken($danger, 10%);
$btn-warning-hover-bg: darken($warning, 10%);
$btn-info-hover-bg: darken($info, 10%);
$btn-light-hover-bg: darken($light, 10%);
$btn-dark-hover-bg: darken($dark, 10%);